//
//  Config.xcconfig
//  FlashSpeak
//
//  Created by Алексей Ходаков on 14.04.2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


CLIENT_ID = GwQ7NuwmVtydMESdQCHIRg96pPFWyQTMugHy-hMjg_M
GOOGLE_API_KEY = AIzaSyBOti4mM-6x9WDnZIjIeyEU21OpBXqWBgw
